body{
    font-family: 'Roboto', sans-serif;
}
.navigation{
    list-style: none;
    color: 212121;
    font-size: 14px;
    font-weight: 500;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #2196F3;
}
h3{
    color: #212121;
}
.foto{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,p{
    margin-bottom: 0;
    margin-top: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
}
.black{
    color: #000000;
}
.site-nav-link{
    color: #212121;
}
.contanct-link{
    color: #757575;
}
.contacts{
    font-size: 14px;
    font-weight: 500;
}
.white{
    color: #fff;
}
.footer{
    width: 1600px;
    height: 252px;
    flex-shrink: 0;
    background: #2F303A;
}
.footer-address{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.footer-city{
    color: #FFF;
}
.footer-navigation{
    color: rgba(255, 255, 255, 0.60);
}
body{
    font-family: 'Roboto', sans-serif;
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
}
button:hover{
    width: 73px;
    height: 38px;
    border-radius: 4px;
    background: #2196F3;
    color: #FFF;
}
.list-widget{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.portfolio-img{
    width: 370px;
    height: 294px;
}
.portfolio-title{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}
.portfolio-text{
color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
}