.navigation{
    list-style: none;
    color: 212121;
    font-size: 14px;
    font-weight: 500;
}
a:hover{
    color: #2196F3;
}
h3{
    color: #212121;
}
.foto{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    margin-right: 93px;
}
.black{
    color: #000000;
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}
.logo-wrap{
    display: flex;
    justify-content: space-between;
}
.site-nav{
    width: 281px;
    display: flex;
    justify-content: space-between;
}
.site-nav-link{
    color: #212121;
    margin-right: 93px;
}
.contanct-link{
    color: #757575;
}
.contacts{
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.mail{
    margin-right: 50px;
    font-weight: 900;
    color: #757575;
}
.main-section{
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.main-title{
    color: #fff;
    text-align: center;
    line-height: 136%;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.main-button{
    color: #FFF;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.post-wrap{
    display: flex;
    justify-content: center;
}
.section-about{
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-title{
    color: #212121;
    width: 696px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.about-text{
    color: #757575;
    font-weight: 400;
    line-height: 24px;
    height: 48px;
}
.section-work{
    padding-bottom: 94px;
}
.work-img{
    width: 270px;
    height: 260px;
}
.work-title{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.work-list{
    width: 370px;
    height: 294px;
}
.team-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-main-title{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.team-list{
    width: 270px;
    border-color: 1px red;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-amg{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}
.team-title{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}
.team-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}
.white{
    color: #fff;
}
.footer-address{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.footer-city{
    color: #FFF;
}
.footer-navigation{
    color: rgba(255, 255, 255, 0.60);
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
}